@model Anzu.AnnPortal.Identity.Common.Model.ChangePasswordViewModel

<script src="~/Scripts/jquery-2.1.4.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

@{
    ViewBag.Title = "Change Password";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ANN</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="app/assets/images/ANN_Logo.png">

    @Styles.Render("~/Content/vendor")

    @Styles.Render("~/Content/css")

    <style>
        input.custom-margin-bottom {
            margin-bottom: 5px;
        }

        .text-danger-custom {
            font-size: 0.9em;
        }
    </style>

</head>
<body>
    <div class="mainWrapper container">
        <div class="row">
            <div class="col-md-12 loginWrapper">

                <div class="login">
                    <div class="left_sec">
                        <img src="~/Content/Assets/ANN_Logo.png" />
                    </div>

                    <div class="right_sec">
                        <div class="heading">Change Password</div>
                        <div class="inputs">
                            <section id="loginForm">
                                @using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()

                                    if (Model.ShowOldPassword == true)
                                    {
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.OldPassword, new { @class = "control-label col-md-12" })
                                            <div class="col-md-12">
                                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @maxlength = "20" })
                                            </div>
                                        </div>
                                    }

                                    @Html.HiddenFor(m => m.ShowOldPassword)
                                    @Html.HiddenFor(m => m.OldPassword)
                                    @Html.HiddenFor(m => m.UserId)
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.NewPassword, new { @class = "control-label col-md-12" })
                                        <div class="col-md-12">
                                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @maxlength = "50" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label col-md-12" })
                                        <div class="col-md-12">
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @maxlength = "50" })
                                        </div>
                                    </div>
                                    @Html.HiddenFor(m => m.ISSecurityQuestionAnswered)
                                    if (!Model.ISSecurityQuestionAnswered)
                                    {
                                        <div id="securityQuestion">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.SecurityQuestionId, new { @class = "control-label col-md-12" })
                                                <div class="col-md-12">
                                                    @Html.DropDownListFor(m => m.SecurityQuestionId, ViewBag.Questions as SelectList, new { @class = "form-control" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(m => m.SecurityQuestionAnswer, new { @class = "control-label col-md-12" })
                                                <div class="col-md-12">
                                                    @Html.TextBoxFor(m => m.SecurityQuestionAnswer, new { @class = "form-control", @maxlength = "30" })
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    <div style="font-style:italic">
                                        @Html.ValidationSummary()
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <input type="submit" value="Change password" class="btn btn-default" />
                                        </div>
                                        <div class="col-md-2 pull-right">
                                            <input type="button" value="Cancel" class="btn btn-default" onclick="location.href='@Url.Action("LogOff", "Login")'" />
                                        </div>
                                    </div>
                                }
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
