@model Anzu.AnnPortal.Identity.Common.Model.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = null;
}

<script src="~/Scripts/jquery-2.1.4.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ANN</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="app/assets/images/ANN_Logo.png">

    @Styles.Render("~/Content/vendor")

    @Styles.Render("~/Content/css")

    <style>
        input.custom-margin-bottom {
            margin-bottom: 5px;
        }

        .text-danger-custom {
            font-size: 0.9em;
        }
    </style>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script>
        var validateRecaptcha = function (e) {
            //var recaptcha = $("#").val();
            var reCap = document.getElementById('g-recaptcha-response');
            if (reCap) {
                // console.log(reCap.value);
                return (reCap.value != "");
            }
            else {
                return true;
            }
        }
    </script>
</head>
<body>
    <div class="mainWrapper container">
        <div class="row">
            <div class="col-md-12 loginWrapper">

                <div class="login">
                    <div class="left_sec">
                        <img src="~/Content/Assets/ANN_Logo.png" />
                    </div>
                    
                    <div class="right_sec">
                        <div class="heading">Forgot Password?</div>
                        <div class="inputs">
                            <section id="loginForm">
                                @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { @class = "form-horizontal", role = "form", onsubmit = "return validateRecaptcha()" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="UserName">User Name</label>
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.UserId, new { @class = "form-control custom-margin-bottom", autocomplete = "off", @maxlength = "50", placeholder = "Email" })
                                            @Html.ValidationMessageFor(m => m.UserId, "", new { @class = "validate text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <div class="g-recaptcha" data-sitekey="6LeiuSMUAAAAAClXXlpDNh_52-vuF_htLRErRDAR"></div>
                                        </div>
                                    </div>

                                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <input type="submit" class="btn btn-default" value="Submit" />
                                        </div>
                                        <div class="col-md-2 pull-right">
                                            <input type="button" value="Cancel" class="btn btn-default" onclick="location.href='@Url.Action("Login", "Login" )'" />
                                        </div>
                                    </div>

                                    <div class="forgot-password-mail-sent-msg">@ViewBag.Message</div>
                                }
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
